<div class="container landing">
    <div class="signin-div">
        <br>
        <div class="row title">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <p class=" text-uppercase ">Bienvenido a  <span class="vozify">Sumatoria de Cubos</span></p>
            </div>
        </div>
        <div class="row">
          <form class="form-value col-xs-8 col-xs-offset-2" name="forms.value">
          <div class="row">
            <div class="form-group col-xs-12 col-sm-4">
              <label class="input-value">Número de casos de Prueba
                <input type="number" class="form-control"  name="cs" id="cs"  ng-model="vm.form.cs" min="1"/>
                <p ng-show="forms.value.cs.$invalid && !forms.value.cs.$pristine || forms.value.ms.$error.minlength" class="help-block">Formato Incorrecto</p>
              </label>
            </div>
            <div class="form-group col-xs-12 col-sm-4">
              <label class="input-value">Cantidad de Filas
                <input type="number" class="form-control" name="n" id="n" ng-model="vm.form.n" min="1"/>
                <p ng-show="forms.value.n.$invalid && !forms.value.n.$pristine || forms.value.ms.$error.minlength" class="help-block">Formato Incorrecto</p>
              </label>
            </div>
            <div class="form-group col-xs-12 col-sm-4">
              <label class="input-value">Cantidad de Operaciones
                <input type="number" class="form-control" name="m" id="m" ng-model="vm.form.m" min="1" />
                <p ng-show="forms.value.m.$invalid && !forms.value.m.$pristine || forms.value.ms.$error.minlength" class="help-block">Formato Incorrecto</p>
              </label>
            </div>
          </div>
          <div class="row">
                <div class="col-md-2 col-md-offset-5 col-xs-10 col-xs-offset-1 text-center">
                    <button type="submit" class="btn btn-default btn-md text-uppercase calcular"
                    ng-disabled="vm.available()" ng-click="vm.next()">Siguiente</button>
                </div>
          </div>
        </form>
        </div>
        <div class="row">
            <form class="form-value" name="forms.operation" ng-repeat="i in vm.getNumber(vm.T) track by $index" ng-init="procedIndex = $index">
                <div class="col-md-8 col-md-offset-2 formulario">
                    <fieldset>
                        <legend class="test-title">Caso de Prueba {{$index+1}}</legend>
                          <div class="row" ng-repeat="i in vm.getNumber(vm.M) track by $index" ng-init="i = procedIndex == 0 ? procedIndex + $index : (procedIndex + 1) + $index">
                                <div class="col-xs-8 col-xs-offset-2 input-value">
                                  <div class="btn-group">
                                        <span class="title-operation"> Seleccione la Operación: </span>
                                        <label>
                                          <input type="radio" class="checkbox-item" name="check-{{$index}}" ng-model="vm.proced[procedIndex].operation[$index].type" value="U" ng-change="vm.type( procedIndex, $index)"> Update
                                        </label>
                                        <label>
                                          <input type="radio" class="checkbox-item" name="check-{{$index}}"  ng-model="vm.proced[procedIndex].operation[$index].type" value="Q" ng-change="vm.type (procedIndex, $index)"> Query
                                        </label>
                                        <div ng-show="vm.mostrarUpdate[i]">
                                          <div class="col-xs-12 col-sm-3">
                                            <input type="text" class="form-control" name="x-{{$index}}" id="x" placeholder="Ingrese X"
                                            ng-model="vm.proced[procedIndex].operation[$index].x" min="1">
                                        </div>
                                          <div class="col-xs-12 col-sm-3">
                                            <input type="text" class="form-control" name="y-{{$index}}" id="y" placeholder="Ingrese Y"
                                            ng-model="vm.proced[procedIndex].operation[$index].y" min="1">
                                          </div>
                                          <div class="col-xs-12 col-sm-3">
                                            <input type="text" class="form-control" name="z-{{$index}}" id="z" placeholder="Ingrese Z"
                                            ng-model="vm.proced[procedIndex].operation[$index].z" min="1">
                                          </div>
                                          <div class="col-xs-12 col-sm-3">
                                            <input type="text" class="form-control" name="w-{{$index}}" value="" placeholder="Ingrese W"
                                            ng-model="vm.proced[procedIndex].operation[$index].w" min="1">
                                          </div>
                                        </div>
                                        <div ng-show="vm.mostrarQuery[i]">
                                          <div class="col-xs-12 col-sm-4">
                                            <input type="text" name="x1" value="" class="form-control" placeholder="Ingrese X1"
                                            ng-model="vm.proced[procedIndex].operation[$index].x1" min="1">
                                          </div>
                                          <div class="col-xs-12 col-sm-4">
                                            <input type="text" name="y1" value="" class="form-control" placeholder="Ingrese Y1"
                                            ng-model="vm.proced[procedIndex].operation[$index].y1" min="1">
                                          </div>
                                          <div class="col-xs-12 col-sm-4">
                                            <input type="text" name="z1" value="" class="form-control" placeholder="Ingrese Z1"
                                            ng-model="vm.proced[procedIndex].operation[$index].z1" min="1">
                                          </div>
                                          <div class="col-xs-12 col-sm-4">
                                            <input type="text" name="x2" value="" class="form-control" placeholder="Ingrese X2"
                                            ng-model="vm.proced[procedIndex].operation[$index].x2" min="1">
                                          </div>
                                          <div class="col-xs-12 col-sm-4">
                                            <input type="text" name="y2" value="" class="form-control" placeholder="Ingrese Y2"
                                             ng-model="vm.proced[procedIndex].operation[$index].y2" min="1">
                                          </div>
                                          <div class="col-xs-12 col-sm-4">
                                            <input type="text" name="z2" value="" class="form-control" placeholder="Ingrese Z2"
                                            ng-model="vm.proced[procedIndex].operation[$index].z2" min="1">
                                          </div>
                                        </div>
                                  </div>
                                </div>
                          </div>
                    </fieldset>
                </div>
            </form>
            <div class="row" ng-show="vm.mostrar">
              <div class="col-md-2 col-md-offset-5 col-xs-10 col-xs-offset-1 text-center">
                  <button type="submit" class="btn btn-default btn-md text-uppercase calcular"  ng-click="vm.calculate()">Calcular</button>
              </div>
            </div>
        </div>
    </div>
</div>
