.landing{
  font-family: sans-serif;
  .title{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    color: @fucsia;
    font-weight: bolder;
  }
  .formulario{
    .input-value{
      margin-bottom: 20px;
    }
  }
  .calcular{
    margin-top: 10px;
    background-color: @fucsia;
    color: #ffff;
    font-weight: bold;
  }

}
